[submodule "binutils"]
	path = binutils
	url = https://github.com/tenstorrent/sfpi-binutils.git
[submodule "gcc"]
	path = gcc
	url = https://github.com/tenstorrent/sfpi-gcc.git
[submodule "newlib"]
	path = newlib
	url = https://sourceware.org/git/newlib-cygwin.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = https://github.com/riscv-collab/riscv-dejagnu.git
