name: "Build SFPI"

on:
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
      arch:
        required: true
        type: string
      box:
        required: true
        type: string
      incremental:
        required: true
        type: boolean
        default: true
      key:
        required: false
        type: string
      build_id:
        required: false
        type: string

  workflow_dispatch:
    inputs:
      tag:
        required: false
        description: Version tag to checkout
        default:
        type: string
      arch:
        required: true
        description: Host architecture
        default: x86_64
        type: choice
        options:
          - aarch64
          - x86_64
      box:
        required: true
        description: Container to run on
        default: none
        type: choice
        options:
          - none
          - Alma
      incremental:
        required: true
        type: boolean
        default: true

env:
  SUDO: ${{inputs.box == 'none' && 'sudo' || ''}}

run-name: Build ${{inputs.arch}} SFPI ${{inputs.tag || github.ref}}${{inputs.box != 'none' && format(' on {0}', inputs.box) || ''}}
jobs:
  build:
    runs-on: ubuntu-22.04${{inputs.arch == 'aarch64' && '-arm' || ''}}
    container:
      image: ${{inputs.box == 'alma' && format('quay.io/pypa/manylinux_2_34_{0}', inputs.arch) || null}}
    steps:
      - name: Checkout repo & submodules
        uses: actions/checkout@v4
        with:
          ref: ${{inputs.tag || github.ref}}
          fetch-depth: 64
          fetch-tags: true
          submodules: recursive
      - name: Tell Git it is safe
        run: git config --global --add safe.directory '*'
      - name: Install packages
        run: |
          pkgs="autoconf automake bison expect flex gawk python3 texinfo"
          pkgs+=" patchutils ruby wget"
          eval $(./scripts/sfpi-info.sh DIST </dev/null)
          case $sfpi_dist in
            debian)
              $SUDO apt-get update
              $SUDO apt-get -y install $pkgs rpm
              $SUDO apt-get -y install libexpat1-dev libgmp-dev libmpc-dev libmpfr-dev gcc g++
            ;;
            fedora)
              $SUDO dnf install -y $pkgs rpm-build
              $SUDO dnf install -y expat-devel gmp-devel libmpc-devel mpfr-devel gcc gcc-c++
            ;;
            *)
              echo "Unknown distro, winging it"
            ;;
          esac
      - name: Get FPM
        run: $SUDO gem install fpm
      - name: Build toolchain
        run: scripts/build.sh --gdb --tt-built --small ${{!inputs.incremental && '--full' || null}} ${{inputs.build_id != '' && format('--build-id={0}', inputs.build_id) || null}}
      - name: Build test harness
        run: scripts/build.sh --dejagnu --small
      - name: Run tests
        run: scripts/build.sh --test-tt
      - name: Release toolchain
        run: scripts/release.sh --ci --tt-built
      - name: Upload build
        uses: actions/upload-artifact@v4
        with:
          name: build-${{inputs.arch}}-${{inputs.box}}
          path: build/release/*
          compression-level: 0
      - name: Upload tests
        uses: actions/upload-artifact@v4
        with:
          name: tests-${{inputs.arch}}-${{inputs.box}}
          path: build/tests/*
      - id: version
        name: Gather config
        shell: bash
        run: |
          eval $(./scripts/sfpi-info.sh DIST <build/version)
          config="$sfpi_version"
          if [[ -n $sfpi_base ]]; then
              config+=" ($sfpi_base)"
          fi
          config+=" $sfpi_arch $sfpi_dist ($sfpi_pkg)"
          if [[ -z "${{inputs.key}}" ]]; then
            echo "### $config" >>$GITHUB_STEP_SUMMARY
          else
            mkdir -p outputs
            echo "$config" >outputs/config-${{inputs.key}}
          fi
      - name: Upload config
        if: ${{inputs.key}} != ""
        uses: actions/upload-artifact@v4
        with:
          name: config-${{inputs.arch}}-${{inputs.box}}
          path: outputs/config-*
